<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="animated fadeInDown">
  <ion-fab-button (click)="togglePopupMenu()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <!-- <div class="popup-menu-item">
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="notifications($event)">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge color="dark" slot="end">2</ion-badge>
        </ion-button>
      </ion-buttons>
      <span>Thông báo</span>
    </div> -->
    <div class="popup-menu-item" (click)="gotoPage('/order-history')">
      <ion-icon name="timer" slot="middle" size="large"></ion-icon>
      <span>Lịch sử mua</span>
    </div>
    <div class="popup-menu-item" (click)="gotoPage('/favorite')">
      <ion-icon name="heart" slot="middle" size="large"></ion-icon>
      <span>Món ưa thích</span>
    </div>
  </div>
</div>