<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button color="primary" (click)="closeModal()">
				<ion-icon name="close" color="light"></ion-icon>
			</ion-button>
		</ion-buttons>
		 <ion-title class="txt-center">
			Search Filter
		</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

	<!-- <ion-item>
	  <ion-label class="no-margin-bottom" stacked>
      <ion-text color="dark" class="fw500">Radius:</ion-text>
    </ion-label>
    <ion-range min="1" max="50" step="1" value="1" class="no-padding-top" [(ngModel)]="radiusmiles">
      <ion-label slot="start"><ion-text color="primary"> {{radiusmiles}} Mile(s)</ion-text></ion-label>
    </ion-range>
	</ion-item> -->

	<ion-item>
		<ion-label class="fw500" color="dark">Loại sản phẩm</ion-label>
		<ion-select [(ngModel)]="filterParams.catId">
			<ion-select-option *ngFor="let cat of categories" [selected]="filterParams.catId === cat.key"
				[value]="cat?.key">{{cat?.categoryName}}</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<ion-label class="fw500" color="dark">Khuyến mại</ion-label>
		<ion-select [(ngModel)]="filterParams.promotion">
			<ion-select-option [value]="STATUS_FILTER.yes">Có</ion-select-option>
			<ion-select-option [value]="STATUS_FILTER.no">Không</ion-select-option>

		</ion-select>
	</ion-item>

	<ion-item>
		<ion-label class="fw500" color="dark">Thực đơn</ion-label>
		<ion-select [(ngModel)]="filterParams.meal" multiple="true">
			<ion-select-option [value]="MEAL.breakfast">Bữa sáng</ion-select-option>
			<ion-select-option [value]="MEAL.lunch">Bữa trưa</ion-select-option>
			<ion-select-option [value]="MEAL.drinks">Đồ uống</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<ion-label class="fw500" color="dark">Tình trạng</ion-label>
		<ion-select [(ngModel)]="filterParams.status">
			<ion-select-option [value]="STATUS_FILTER.yes">Còn hàng</ion-select-option>
			<ion-select-option [value]="STATUS_FILTER.no">Hết hàng</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-item class="ion-margin-bottom">
		<ion-label class="no-margin-bottom">
			<ion-text color="dark" class="fw500">Giá</ion-text>
		</ion-label>

		<ion-range min="1000" max="100000" step="1" value="1" class="no-padding-top"
			[(ngModel)]="filterParams.maxPrice">
			<ion-label slot="start">
				<ion-text color="primary"> {{filterParams.maxPrice |number}} vnđ</ion-text>
			</ion-label>
		</ion-range>
	</ion-item>

	<ion-button expand="full" color="primary" (click)="closeModal()">Tìm kiếm</ion-button>
</ion-content>