<h5 *ngIf="title">{{title}}</h5>

<ion-grid>
  <ion-row>
    <ion-col size="6" (click)="gotoDetail(product)" *ngFor="let product of products">
      <ion-card class="card ion-no-margin">
        <ion-badge class="badge" *ngIf="product?.promotionPrice">
         - {{'' | percentage : product?.price : product?.promotionPrice}}%
        </ion-badge>
        <img [src]="product?.displayImage || 'assets/img/defaults/default-product.jpg'" [alt]="'image'">
        <ion-card-content>
          <ion-card-title>
            <ion-row>
              <ion-col class="ion-text-left parent">
                <h6 class="ion-text-left subtitle block-ellipsis">{{product?.name}}</h6>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-text class="ion-text-left" *ngIf="product?.promotionPrice">
                  <span class="price ">
                    <span class="inline ">
                      {{product?.price |number}}
                    </span>
                    <strong>{{product?.promotionPrice |number}} vnđ</strong>
                  </span>
                </ion-text>
              <ion-text tclass="ion-text-left" *ngIf="!product?.promotionPrice"><span class="price"><strong>{{product?.price}} vnđ</strong></span></ion-text>
              </ion-col>
            </ion-row>

          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>