<h5 *ngIf="title">{{title}}</h5>

<ion-grid>
  <ion-row>
    <ion-col size="6" (click)="gotoDetail('12')">
      <ion-card class="card ion-no-margin">
        <ion-badge class="badge" >12%</ion-badge>
        <img [src]="'https://images.foody.vn/res/g26/252453/prof/s1242x600/foody-mobile-gu-jpg-295-636071968797638219.jpg'" [alt]="'image'">
        <ion-card-content>
          <ion-card-title>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-text class="ion-text-left"><span class="price"><span class="inline">{{'$'}}{{'12'}}</span> <strong>{{'$'}}{{'13'}}</strong></span></ion-text>
              </ion-col>
              <ion-col class="ion-no-padding">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left" >
                <h6 class="ion-text-left" class="subtitle">sub title</h6>
              </ion-col>
            </ion-row>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="card ion-no-margin">
        <ion-badge class="badge" >12%</ion-badge>
        <img [src]="'https://images.foody.vn/res/g103/1023649/prof/s750x400/foody-upload-api-foody-mobile-foody-upload-api-foo-200515152001.jpg'" [alt]="'image'">
        <ion-card-content>
          <ion-card-title>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-text class="ion-text-left"><span class="price"><span class="inline">{{'$'}}{{'12'}}</span> <strong>{{'$'}}{{'13'}}</strong></span></ion-text>
              </ion-col>
              <ion-col class="ion-no-padding">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left ion-no-padding">
                <h6 class="ion-text-left" class="subtitle">sub title</h6>
              </ion-col>
            </ion-row>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="card ion-no-margin">
        <ion-badge class="badge" >12%</ion-badge>
        <img [src]="'https://images.foody.vn/res/g1/8392/prof/s640x400/foody-mobile-pho-thinh1-jpg-212-635779276581537471.jpg'" [alt]="'image'">
        <ion-card-content>
          <ion-card-title>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-text class="ion-text-left"><span class="price"><span class="inline">{{'$'}}{{'12'}}</span> <strong>{{'$'}}{{'13'}}</strong></span></ion-text>
              </ion-col>
              <ion-col class="ion-no-padding">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left no-padding">
                <h6 class="ion-text-left" class="subtitle">sub title</h6>
              </ion-col>
            </ion-row>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="card ion-no-margin">
        <ion-badge class="badge" >12%</ion-badge>
        <img [src]="'https://images.foody.vn/res/g3/24772/prof/s640x400/foody-mobile-pho-cuon-31-ha-noi.jpg'" [alt]="'image'">
        <ion-card-content>
          <ion-card-title>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-text class="ion-text-left"><span class="price"><span class="inline">{{'$'}}{{'12'}}</span> <strong>{{'$'}}{{'13'}}</strong></span></ion-text>
              </ion-col>
              <ion-col class="ion-no-padding">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-left no-padding" >
                <h6 class="ion-text-left" class="subtitle">sub title</h6>
              </ion-col>
            </ion-row>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  
  </ion-row>
</ion-grid>


