<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Giới thiệu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" >
    <ion-card-content>
      <h1 class="ion-margin-bottom">
        <ion-text color="primary"><strong>ứng dụng đặt đồ ăn FastFood</strong></ion-text>
      </h1>
      
      <p class="ion-margin-bottom">
        Xuất phát từ nhu cầu các doanh nghiệp, công ty trong tất cả các lĩnh vực, 
        muốn nhân viên của mình có được sự tiện nghi tốt nhất, 
        giúp cho tinh thần làm việc của nhân viên luôn đạt trạng 
        thái tốt nhất. Đặc biệt là về nhu cầu ăn uống, 
        nhân viên văn phòng thường có xu hướng không muốn 
        hoặc không có thời gian để ra ngoài ăn trưa, giải khát,… 
        Ngoài những nhân viên đã mang cơm từ nhà, những nhân viên 
        khác có nhu cầu rất cao về việc đươc phục vụ, vận chuyển cơm trưa, 
        đồ giải khát ngay tại tỏng công ty, có thể là đến phòng ăn chung của công ty, 
        hoặc ngay tại chỗ ngồi của mình. Dựa trên những nhu cầu cần thiết như vậy các doanh nghiệp, 
        công ty có quy mô vừa và lớn thường có căng – tin hoặc nhà bếp riêng để phục vụ nhân viên, 
        nhưng do quy mô văn phòng quá rộng, toà nhà nhiều tầng, 
        căng tin thì lại không đủ chỗ để mọi 
        người có thể trực tiếp lên mua đồ ăn vào giờ cao điểm, 
        giờ ăn trưa vì quá nhiều người phải xếp hàng. 
        Do vậy công ty có nhu cầu xây dựng một ứng dụng để nhân viên có thể đặt đồ ăn, 
        đồ uống qua đó mà không cần phải đến trực tiếp căng tin để xếp hàng
      </p>
    
    </ion-card-content>
  </ion-card>

</ion-content>
