<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
     <ion-title class="txt-center">
      <ion-text color="light">
        <ion-text color="light" class="fw700">FastFood</ion-text>
      </ion-text>
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications($event)">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

</ion-header>

<ion-content  class="animated fadeIn login auth-page ion-padding">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div class="animated fadeInDown ion-padding-horizontal ion-text-center ">
      <div class="logo"></div>
      <h4 >
        <ion-text color="light" class="fw700">
          FastFood
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item class="animated fadeInUp ion-no-padding">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="warning">
          Trường bắt buộc
        </ion-text>
      </p>

      <ion-item class="animated fadeInUp ion-no-padding">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Mật khẩu
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="warning">
          Trường bắt buộc
        </ion-text>
        </p>
        <ion-item class="animated fadeInUp ion-no-padding">
          <ion-label>Lưu mật khẩu</ion-label>
          <ion-checkbox color="orange" formControlName="savePassword"></ion-checkbox>
        </ion-item>
    </form>

    <p  tappable (click)="forgotPass()" class="paz ion-text-right">
      <ion-text color="light">
        <strong>Quên mật khẩu?</strong>
      </ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="loginWithEmail()" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Đăng nhập
      </ion-button>

      <p class="ion-text-center">
        <ion-text color="light">
          hoặc đăng nhập với:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row class="flex-center">
          <!-- <ion-col size="6">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col> -->
          <!-- <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col> -->
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary" (click)="loginWithGoogle()">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <!-- Other links -->
    <div class="ion-text-center ion-margin-top" >
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          Người mới? <strong>Đăng ký</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>