<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Lịch sử mua hàng</ion-text>
      </ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item class="ion-margin-bottom ion-no-padding card" lines="none" (click)="open()" *ngFor="let order of bills">
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <img [src]="order?.products[0]?.displayImage">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-text>
            <h5 class="title ion-no-margin" ><strong>{{order?.totalItem}} sản phẩm</strong></h5>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text>
            <h5 class="title ion-no-margin" ><strong>Tổng giá trị: {{order?.totalPrice | number}} vnđ</strong></h5>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text [ngSwitch]="order?.status">
            <h6 class="sub ion-no-margin success" *ngSwitchCase="BILL_STATUS.success">Đã hoàn thành</h6>
            <h6 class="sub ion-no-margin tertiary " *ngSwitchCase="BILL_STATUS.pending">Đang chờ xác nhận</h6>
            <h6 class="sub ion-no-margin primary" *ngSwitchCase="BILL_STATUS.transport">Đang giao hàng</h6>
            <h6 class="sub ion-no-margin danger" *ngSwitchCase="BILL_STATUS.canceled">Đã huỷ bỏ</h6>

          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="ion-float-right" size="2">
        <ion-icon class="item-icon mycolor ion-float-right" name="arrow-dropright"  mode="ios"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>