// .menu {
//     color: white !important;
// }
.card {
    padding: 6px;
    border-radius: 3px;
    border: .3px solid rgb(210, 210, 210);
    background-color: white;
}
.title {
    font-size: 15px;
}
.sub{
    font-size: 12px;
}
.item-icon{
    font-size: 32px;
}
.success{
    color: #28e070;
}
.danger{
    color: #a55252;
}
.tertiary{
    color: #86888f;
}
.primary{
    color: #2f32a0;
}