<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Giỏ hàng</ion-text>
      </ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top" color="light">
  <div class="mid" *ngIf="!show">
    <ion-row size="12" class="ion-justify-content-center" disabled="true">
      <button class="circle">
        <ion-icon name="cart" size="large"></ion-icon>
      </button>
    </ion-row>
    <ion-row size="12" class="ion-justify-content-center" disabled="true">
      <ion-text><strong>Your cart is empty</strong></ion-text>
    </ion-row>
    <ion-row size="12" class="ion-justify-content-center" disabled="true">
      <ion-button fill="clear" color="primary" >Browse Products</ion-button>
    </ion-row>
  </div>
  <div *ngIf="show">
    <ion-row class="ion-margin-horizontal ion-margin-bottom">
      <ion-text><strong class="text">Danh sách sản phẩm</strong></ion-text>
    </ion-row>
    <ion-list #slidingList>
      <ion-item-sliding class="ion-no-padding card ion-no-margin" *ngFor="let product of cart?.products">
        <ion-item lines="none">
          <ion-row>
            <ion-col size="3" class="ion-text-center">
              <img [src]="product?.displayImage || 'assets/img/defaults/default-product.jpg'">
              <ion-icon name="trash" size="small" color="danger"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <h3 class="ion-no-margin item-name">{{product?.name}}</h3>
              <h5 class="ion-no-margin item-def">{{product?.catName}}</h5>
              <h5 class="ion-no-margin item-def">{{product?.updatedAt || product?.createdAt}}</h5>
            </ion-col>
            <ion-col size="3" class="ion-float-right">
              <ion-row class="ion-text-end ion-justify-content-end" *ngIf="product?.promotionPrice">
                <h3  class="item-name ion-text-end ion-no-margin">{{product?.price}}</h3>
                <h3 class="ion-no-margin item-name ion-text-end" ><span class="cut">{{product?.promotionPrice}}</span></h3>
              </ion-row>
              <ion-row class="ion-text-end ion-justify-content-end" *ngIf="!product?.promotionPrice">
                <h3 class="ion-no-margin item-name ion-text-end" ><span class="cut">{{product?.price}}</span></h3>
              </ion-row>
              <ion-row class="ion-justify-content-end">
                <!-- <ion-select  [interfaceOptions]="amountOptions" [(ngModel)]="product.amount" [compareWith]="compareFn"
                class="select popover-amount" interface="popover" >
                  <ion-select-option *ngFor="let q of helperService.counter(product,menu);" 
                  [(value)]="q" class="ion-text-center" >{{q}}</ion-select-option>
                </ion-select> -->
                <ion-input appNumberOnly inputmode="numeric" 
                type="number" class="input" 
                [value]="product.amount" (input)="changeAmount($event,product)"></ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" >
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-row class="ion-margin">
      <ion-text><strong class="text">Nội dung</strong></ion-text>
    </ion-row>
    <ion-item lines="none" class="card ion-no-margin">
      <ion-row class="full">
        <ion-col size="9">
          <ion-input placeholder="Enter Promo Code" class="input"></ion-input>
        </ion-col>
        <ion-col class="ion-align-self-center" size="3">
          <ion-button fill="outline" expand="block" ><span class="small">Apply</span></ion-button>
        </ion-col>
      </ion-row>
    </ion-item>

    <div lines="none" class="card ion-no-margin ion-padding-bottom" >

      <ion-row class="full ion-padding-horizontal" >
        <ion-col size="9">
          <ion-text>Tổng số lượng: </ion-text>
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <ion-text>{{cart?.totalItem |number}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="full ion-padding-horizontal" >
        <ion-col size="9">
          <ion-text>Tổng thanh toán: </ion-text>
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <ion-text>{{cart?.totalPrice |number}}</ion-text>
        </ion-col>
      </ion-row>
    </div>

    <div lines="none" class="card ion-no-margin ion-padding-bottom" >

      <ion-row class="full ion-padding-horizontal" >
        <ion-col size="8">
          <ion-text>Vị trí: </ion-text>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <ion-select [interfaceOptions]="floorOptions" class="select" [value]="'Tầng 1'" >
          <ion-select-option *ngFor="let floor of floors" [value]="floor" class="ion-text-center">{{floor}}</ion-select-option>
        </ion-select>
        </ion-col>
      </ion-row>
      <ion-row class="full ion-padding-horizontal" >
        <!-- <ion-col size="3">
          <ion-text>Ghi chú: </ion-text>
        </ion-col> -->
        <ion-col size="12">
          <ion-textarea class="input" placeholder="Ghi chú"></ion-textarea>
        </ion-col>
      </ion-row>
    </div>


  </div>
</ion-content>
<ion-footer *ngIf="show">
  <ion-toolbar color="success">
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-footer>