<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Giỏ hàng</ion-text>
      </ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top" color="light" >
  <div class="mid" *ngIf="!cart?.products || cart?.products?.length === 0">
    <ion-row size="12" class="ion-justify-content-center" disabled="true">
      <button class="circle">
        <ion-icon name="cart" size="large"></ion-icon>
      </button>
    </ion-row>
    <ion-row size="12" class="ion-justify-content-center" disabled="true">
      <ion-text><strong>Không có sản phẩm nào trong giỏ hàng</strong></ion-text>
    </ion-row>
    <ion-row size="12" class="ion-justify-content-center" disabled="true">
      <ion-button fill="clear" color="primary" (click)="goBack()">Quay lại trang chủ</ion-button>
    </ion-row>
  </div>
  <div *ngIf="cart?.products && cart?.products?.length >0">
    <ion-row class="ion-margin-horizontal ion-margin-bottom">
      <ion-text><strong class="text">Danh sách sản phẩm</strong></ion-text>
    </ion-row>
    <ion-list #slidingList>
      <ion-item-sliding class="ion-no-padding card ion-no-margin" *ngFor="let product of cart?.products">
        <ion-item lines="none">
          <ion-row>
            <ion-col size="3" class="ion-text-center">
              <img [src]="product?.displayImage || 'assets/img/defaults/default-product.jpg'">
              <ion-icon name="trash" size="small" color="danger" (click)="removeProduct(product)"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <h3 class="ion-no-margin item-name">{{product?.name}}</h3>
              <h5 class="ion-no-margin item-def">{{product?.catName}}</h5>
              <h5 class="ion-no-margin item-def">{{product?.updatedAt || product?.createdAt}}</h5>
            </ion-col>
            <ion-col size="3" class="ion-float-right">
              <ion-row class="ion-text-end ion-justify-content-end" *ngIf="product?.promotionPrice">
                <h4  class="item-name ion-text-end ion-no-margin">{{product?.price |number}} vnđ</h4>
                <h4 class="ion-no-margin item-name ion-text-end" ><span class="cut">{{product?.promotionPrice |number}} vnđ</span></h4>
              </ion-row>
              <ion-row class="ion-text-end ion-justify-content-end" *ngIf="!product?.promotionPrice">
                <h4 class="ion-no-margin item-name ion-text-end" ><span>{{product?.price |number}} vnđ</span></h4>
              </ion-row>
              <ion-row class="ion-justify-content-end">
                <ion-input appNumberOnly inputmode="numeric" 
                type="number" class="input ion-text-center" 
                [value]="product.amount" (input)="changeAmount($event,product)"></ion-input>
              </ion-row>
            </ion-col>

            <ion-col size="12" class="ion-text-center" appError [productId]="product?.id" [errors]="errors">
              <!-- <p class="error-text" >Sản phẩm quá số lượng cho phép</p> -->
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeProduct(product)">
            <ion-icon name="trash" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-row class="ion-margin">
      <ion-text><strong>NỘI DUNG</strong></ion-text>
    </ion-row>
    <!-- <ion-item lines="none" class="card ion-no-margin">
      <ion-row class="full">
        <ion-col size="9">
          <ion-input placeholder="Mã giảm giá" class="input"></ion-input>
        </ion-col>
        <ion-col class="ion-align-self-center" size="3">
          <ion-button fill="outline" expand="block" ><span class="small">Áp dụng</span></ion-button>
        </ion-col>
      </ion-row>
    </ion-item> -->

    <div lines="none" class="card ion-no-margin ion-padding-bottom" >

      <ion-row class="full ion-padding-horizontal" >
        <ion-col size="9">
          <ion-text>Tổng số lượng: </ion-text>
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <ion-text>{{cart?.totalItem |number}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="full ion-padding-horizontal" >
        <ion-col size="9">
          <ion-text>Tổng thanh toán: </ion-text>
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <ion-text>{{cart?.totalPrice |number}}</ion-text>
        </ion-col>
      </ion-row>
    </div>

    <div lines="none" class="card ion-no-margin ion-padding-bottom" >

      <form [formGroup]="form">
        <ion-row class="full ion-padding-horizontal" >
          <ion-col size="8">
            <ion-text>Vị trí: </ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-end ">
            <ion-select [interfaceOptions]="floorOptions" class="select ion-text-center" [value]="'Tầng 1'" formControlName="floor">
            <ion-select-option *ngFor="let floor of floors" [value]="floor" class="ion-text-center">{{floor}}</ion-select-option>
          </ion-select>
          </ion-col>
        </ion-row>
        <ion-row class="full ion-padding-horizontal" >
          <ion-col size="12">
            <ion-textarea class="input" placeholder="Ghi chú" formControlName="notes"></ion-textarea>
          </ion-col>
        </ion-row>

        <ion-row class="full ion-padding-horizontal" >
          <ion-col size="12">
            <ion-list>
              <ion-radio-group formControlName="transType">
                <ion-list-header>
                  <ion-label>
                    Hình thức thanh toán
                  </ion-label>
                </ion-list-header>
            
                <ion-item>
                  <ion-label>Tiền mặt</ion-label>
                  <ion-radio value="1"></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label>Thẻ tín dụng</ion-label>
                  <ion-radio value="2"></ion-radio>
                </ion-item>
          
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
      </form>
    </div>


  </div>
</ion-content>
<ion-footer *ngIf="cart?.products && cart?.products?.length >0">
  <ion-toolbar color="success" (click)="submit()">
    <ion-title>Thanh toán</ion-title>
  </ion-toolbar>
</ion-footer>