<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
     <ion-title class="txt-center">Cập nhật thông tin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card>
    <ion-card-content class="bg-profile">
      <img [src]="user?.photoURL || './assets/img/defaults/default-avt.png'">
      <h1 class="fw500" *ngIf="user?.displayName">{{user?.displayName}}</h1>
      <!-- <h2 color="light" margin-bottom>Customer</h2> -->
      <ion-button class="ion-icon-left" color="secondary" (click)="inputFile.click()">
        <ion-icon name="photos"></ion-icon>
      </ion-button>
      <input type="file" [hidden]="true" #inputFile (change)="updateAvt($event)" id="file-input" accept="image/png, image/jpeg">
    </ion-card-content>

    <ion-grid class="ion-fixed">
      <form [formGroup]="form">
        <ion-row>
          <ion-col size="12" class="ion-padding">

            <ion-list class="ion-margin-bottom">
              <ion-list-header color="light">
                <ion-label class="fw700">Thông tin người dùng</ion-label>
              </ion-list-header>

              <ion-item class="animated fadeInUp ion-no-padding">
                <ion-label color="dark" position="floating">
                <ion-icon name="contact" item-start></ion-icon>
                Họ tên:</ion-label>
                <ion-input inputmode="text" formControlName="displayName"></ion-input>
              </ion-item>
              <p ion-text color="warning" class="text08"
                *ngIf="form.get('displayName').touched && form.get('displayName').hasError('required')">
                <ion-text color="warning">
                  Trường bắt buộc
                </ion-text>
              </p>
              <ion-item class="animated fadeInUp ion-no-padding">
                <ion-label color="dark" position="floating">
                  <ion-icon name="mail" item-start></ion-icon>Email:</ion-label>
                <ion-input inputmode="email" formControlName="email"></ion-input>
              </ion-item>

              <ion-item class="animated fadeInUp ion-no-padding">
                <ion-label color="dark" position="floating">
                  <ion-icon name="call" item-start></ion-icon>Số điện thoại:</ion-label>
                <ion-input appNumberOnly inputmode="numeric" formControlName="phoneNumber" type="text"></ion-input>
              </ion-item>
              <p ion-text color="danger" class="text08"
                *ngIf="form.get('phoneNumber').touched && form.get('phoneNumber').hasError('required')">
                <ion-text color="danger">
                  Trường bắt buộc
                </ion-text>
              </p>
              <ion-item class="animated fadeInUp ion-no-padding">
                <ion-label position="floating">
                  <ion-icon name="lock" item-start></ion-icon>
                  Mật khẩu
                </ion-label>
                <ion-input color="secondary" type="password" formControlName="currentPassword"></ion-input>
              </ion-item>
              <p ion-text color="danger" class="text08" *ngIf="form.get('currentPassword').touched && form.get('currentPassword').hasError('required')">
                <ion-text color="danger">
                  Trường bắt buộc
                </ion-text>
              </p>
              <ion-item class="animated fadeInUp ion-no-padding">
                <ion-label class="text-1x">Đổi mật khẩu</ion-label>
                <ion-checkbox formControlName="changePassword" (ionChange)="onChangeCheckbox($event.target.checked)"></ion-checkbox>
              </ion-item>
              <ng-container *ngIf="form?.value?.changePassword">
                <ion-item class="animated fadeInUp ion-no-padding">
                  <ion-label position="floating">
                    <ion-icon name="lock" item-start></ion-icon>
                    Mật khẩu mới
                  </ion-label>
                  <ion-input color="secondary" type="password" formControlName="password"></ion-input>
                </ion-item>
                <p ion-text color="danger" class="text08" *ngIf="form.get('password').touched && form.get('password').hasError('required')">
                  <ion-text color="danger">
                    Trường bắt buộc
                  </ion-text>
                </p>
          
                <ion-item class="animated fadeInUp ion-no-padding">
                  <ion-label position="floating">
                    <ion-icon name="lock" item-start></ion-icon>
                    Nhập lại mật khẩu mới
                  </ion-label>
                  <ion-input color="secondary" type="password" formControlName="confirmPassword"></ion-input>
                </ion-item>
                <p ion-text color="danger" class="text08" *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').hasError('required')">
                  <ion-text color="danger">
                    Trường bắt buộc
                  </ion-text>
                </p>
          
                <p ion-text color="danger" class="text08" *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').hasError('isMatching')">
                  <ion-text color="danger">
                    Mật khẩu không trùng nhau
                  </ion-text>
                </p>
              </ng-container>
            </ion-list>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>

  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary" (click)="updateProfile()">
     <ion-title class="txt-center">Cập nhật</ion-title>
  </ion-toolbar>
</ion-footer>