// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-item {
    --ion-item-background: transparent;
}

// backgrounds //
.bg-white {
  background-color: #fff;
}
  
  .bg-light {
    background-color: var(--ion-color-light);
  }
  
  .bg-dark {
      background-color: var(--ion-color-dark);
  }
  
  .bg-primary {
      background-color: var(--ion-color-primary);
  }
  
  .bg-secondary {
      background-color: var(--ion-color-secondary);
  }
  
  .bg-tertiary {
      background-color: var(--ion-color-tertiary);
  }
  
  .bg-profile {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
  }
  
  .bg-main {
      background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
  
  // Helpers //
  .w100 {
    width: 100%;
  }
  
  .bold,
  .fw500 {
      font-weight: 500 !important;
  }
  
  .fw700 {
      font-weight: 700 !important;
  }
  
  .text08 {
    font-size: .8rem;
  }
  
  .text1 {
    font-size: 1rem !important;
  }

  .text12 {
    font-size: 1.2rem;
  }

  .text15 {
    font-size: 1.5rem;
  }
  
  .text20 {
    font-size: 2rem;
  }
  
  .text-white {
      color: #fff;
  }
  
  .text-primary {
      color: var(--ion-color-primary);
  }

  .text-secondary {
    color: var(--ion-color-secondary);
}
  
  .text-dark {
    color: var(--ion-color-dark);
  }
  
  // menu //
  // Menu user profile
  ion-toolbar.user-profile {
  
    .user-avatar {
      width: 68px;
      height: 68px;
    }
    .item-inner {
      border-width: 0;
    }
  }
  
  // Custom toolbar (overriding Shadow DOM)
  ion-toolbar {
    &.ion-color-primary {
      --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
    }
  }
  
  // Android card shadow
  ion-card {
    &.sc-ion-card-md-h {
      box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb),.24);
    }
  }
  
  // style for auth pages
  .auth-page {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  
    .grid {
      padding: 0;
      .col {
        padding: 0;
      }
    }
  
    .btn-group {
      .button-ios,
      .button-md {
        border-radius: 0;
        &:first-of-type {
          border-radius: 2px 0 0 2px;
        }
        &:last-of-type {
          border-radius: 0 2px 2px 0;
        }
      }
    }
  
    .auth-content {
      margin: 0 5%;
  
      .logo {
        width: 60px;
        height: 60px;
        margin: 20px auto 8px;
        border-radius: 10%;
        background: url("/assets/img/ionic4start-ico.png") no-repeat;
        background-size: 100%;
      }
  
      .list-form {
        padding: 0;
        margin-bottom: 0;
  
        ion-item {
          background: none;
          padding: 0;
  
          &:first-child {
            border-top: none;
          }
  
          &:after {
            display: none;
          }
  
          ion-label {
            font-size: 1em;
            color: var(--ion-color-light);
          }
  
          input {
            color: var(--ion-color-light);
          }
        }
      }
    }
  
  }
  
  // Custom Menu styles (overriding Shadow DOM)
  ion-menu {
    ion-header {
      ion-toolbar {
        &.ion-color-dark {
          --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
        }
      }
    }
  }
  
  .mto {
    margin-top: 12px;
    ion-icon {
      margin-bottom: -2px;
    }
  }

  .line {
    width: 75%;
    height: 1px;
    background: #989aa2;
    margin: 1px auto 1px auto;
    position: relative;
  }
  .mybg {
    background-color: var(--ion-color-mytheme) !important;
  }
  .mycolor {
    color: var(--ion-color-mytheme) !important;
  }
  .ion-color-mytheme {
    --ion-color-base: var(--ion-color-mytheme) !important;
    --ion-color-base-rgb: var(--ion-color-mytheme-rgb) !important;
    --ion-color-contrast: var(--ion-color-mytheme-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-mytheme-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-mytheme-shade) !important;
    --ion-color-tint: var(--ion-color-mytheme-tint) !important;
  }
  .ion-color-fb {
    --ion-color-base: var(--ion-color-fb) !important;
    --ion-color-base-rgb: var(--ion-color-fb-rgb) !important;
    --ion-color-contrast: var(--ion-color-fb-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-fb-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-fb-shade) !important;
    --ion-color-tint: var(--ion-color-fb-tint) !important;
  }
  .ion-color-orange {
    --ion-color-base: var(--ion-color-orange) !important;
    --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
    --ion-color-contrast: var(--ion-color-orange-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-orange-shade) !important;
    --ion-color-tint: var(--ion-color-orange-tint) !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .small {
    font-size: 11px;
    margin-top: 5px;
  }
  .white {
    color: white !important;
  }
  .medium {
    font-size: 16px;
  }
  .top-btn {
    padding: 9px;
  }
  .sidemenu-icon {
    font-size: 24px !important;
    color: #666;
  }
  .small-menu-icon {
    margin-right: 3px;
    font-size: 15px;
  }
  .menu {
    color: white !important;
  }
  .label-subtext{
      position: absolute;
      right: 20px;
  }
  .padding-0{
    padding: 0;
  }


  .swiper-slide img {
    height: auto;
    max-height: 86px;
}
.card-content-ios{
  padding-top: 7px;
  padding-bottom: 3px;
}


.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-start{
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .popover-content{
    max-width: 138px !important;
    top: 168px !important;
    left: calc(219px - var(--ion-safe-area-right, 0px)) !important;
    transform-origin: right top !important;
    max-height: 215px !important;
}

.error-text{
  color: red;
  font-size: 12px;
}

.bold{
  font-weight: bold;
}
.success{
  color: #28e070;
}
.danger{
  color: #a55252;
}
.tertiary{
  color: #86888f;
}
.primary{
  color: #2f32a0;
}